APP_VERSION=dev
AZ_STORAGE_CONTAINER=inputs-data
AZ_STORAGE_EP=
AZ_STORAGE_KEY=
ENABLE_AUTO_RECONNECT=FALSE
LOCAL_STORAGE_EP=
LOCAL_STORAGE_KEY=
NHP_API_URI=
NHP_API_KEY=
NHP_APP_VERSION=dev
NHP_ENCRYPT_KEY=
NHP_OUTPUTS_URI=https://connect.strategyunitwm.nhs.uk/nhp/{version}/outputs/
CACHE_VERSION=
FEEDBACK_FORM_URL=
